<div class="col">
  <h2>User detail</h2>
</div>

<div class="col">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p><%= link_to 'Edit your profile', edit_user_path(@user) %></p>
  <p><%= link_to 'Your book reviews', review_by_user_path %></p>

</div>