<div class="col" id="notice"><%= notice %></div>

<div class="col">
  <h1>Your cart</h1>
</div>

<div class="col">
  <table class="cart_detail">
    <tr>
      <th>Book</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
    <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.product.title %></td>
      <td><%= number_to_currency(item.product.price) %></td>
      <td>yyy</td>
      <td>zzz</td>
    </tr>
    <% end %>
  </table>

  <%= button_to 'Check Out', '#' %>
</div>
