/* HEADER */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #2c3e50;
}

ul.topnav li {
    float: left;
}

ul.topnav ul.right {
    float: right;
}

ul.topnav ul.right li a {
    color: white;
}

ul.topnav li a, input, button {
    display: inline-block;
    padding: 12px 12px;
    margin: 5px;
}

a {
    text-decoration: none;
}

a.logo {
    color: lightseagreen;
    font-weight: bold;
}

li input {
    margin: 5px;
    border-radius: 5px;
}

li button {
    border-radius: 5px;
    border-color: transparent;
    background-color: lightgray;
}