/* HEADER */

ul.topnav {
  margin: 0;
  padding-left: 0;
  overflow: hidden;
  background-color: #2c3e50;
}

ul.topnav li {
  float: left;

  a, input, button {
    display: inline-block;
    padding: 12px 12px;
    margin: 5px;
  }

  a.logo {
    color: lightseagreen;
    font-weight: bold;
  }

  input {
    border-radius: 5px;
  }

  button {
    border-radius: 5px;
    border-color: transparent;
    background-color: lightgray;
  }
}

ul.topnav ul.right {
  float: right;

  li a {
    color: white;
  }
}