// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order_form {
  margin: 2em 0 1em 0;

  legend {
    color: lightseagreen;
    padding: 0.2em 1em;
  }

  form {
    .field, .actions {
      padding-top-top: 1em;
      padding-bottom: 1em;
    }

    label {
      float: left;
      width: 5em;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
    }

    input, textarea, select {
      margin-left: 0.5em;
      border: 1px solid black;
    }

    .submit {
      border-radius: 5px;
      border-color: transparent;
      margin-left: 0;
      color: black;
      font-size: small;
      padding: 0.5em;
      background-color: lightseagreen;
    }

    br {
      display: none;
    }
  }
}
