// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* you only need width to set up columns; all columns are 100%-width by default, so we start
   from a one-column mobile layout and gradually improve it according to available screen space */

.book_filter h1 {
  font-style: italic;
}

.book {
  margin-bottom: 30px;
}

.image img {
  width: 150px;
  height: 210px;
}

.description, .book_description {
  text-align: justify;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color:#f7f7f7;

}
table tr:nth-child(even) {
  background-color: #ffffff;
}

a.download, .button_to input {
  border-radius: 5px;
  border-color: transparent;
  margin-left: 0;
  color: black;
  font-size: small;
  padding: 0.5em;
}

a.download {
  background-color: lightseagreen;
  padding: 0.7em;
}

.button_to input {
  background-color: orange;
}
